@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
} /* FOR TITLES */

.serif {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
} /* FOR TEXT */

.mono {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
} /* FOR CODE */
